# Restore the HyperBus/NOR path removed by the minimal SD baseline.
CONFIG_SILENT_CONSOLE=y
CONFIG_SPL_SILENT_CONSOLE=y
# CONFIG_SPL_BANNER_PRINT is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_CFI_FLASH=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_SYS_FLASH_CFI_WIDTH_16BIT=y
CONFIG_SYS_FLASH_USE_BUFFER_WRITE=y
CONFIG_FLASH_CFI_MTD=y
CONFIG_SYS_MAX_FLASH_BANKS_DETECT=y
CONFIG_MULTIPLEXER=y
CONFIG_REGMAP=y
CONFIG_SPL_REGMAP=y
CONFIG_SYSCON=y
CONFIG_SPL_SYSCON=y
CONFIG_MUX_MMIO=y
CONFIG_SPL_MUX_MMIO=y
CONFIG_HBMC_AM654=y
CONFIG_SPL_MTD=y
CONFIG_SPL_NOR_SUPPORT=y
